/data/spike_protein_pdb/reference_spike.pdb
/.idea/.gitignore
/data/spike_protein_sequences/1_in_50_cleaned.fasta
/visualisation/.ipynb_checkpoints/2D_protein_map-checkpoint.ipynb
/evaluation/synthetic_point_mutations_10_most_stable/11_synthetic.fasta
/data/generated_sequences/LanguageModel/11gram_and_natural.fasta
/visualisation/11gram_original.fasta
/data/generated_sequences/LanguageModel/11gram_with_conserved_regions.fasta
/evaluation/synthetic_point_mutations_10_most_stable/14_synthetic.fasta
/evaluation/synthetic_point_mutations_10_most_stable/18_synthetic.fasta
/evaluation/synthetic_point_mutations_10_most_stable/20_synthetic.fasta
/evaluation/synthetic_point_mutations_10_most_stable/31_synthetic.fasta
/evaluation/synthetic_point_mutations_10_most_stable/32_synthetic.fasta
/evaluation/synthetic_point_mutations_10_most_stable/35_synthetic.fasta
/evaluation/synthetic_point_mutations_10_most_stable/36_synthetic.fasta
/evaluation/synthetic_point_mutations_10_most_stable/37_synthetic.fasta
/evaluation/synthetic_point_mutations_10_most_stable/40_synthetic.fasta
/data/spike_protein_sequences/aligned.afa
/data/generated_sequences/LanguageModel/aligned_11gram_and_natural.afa
/data/generated_sequences/VAE/Version 3/gen3_merged_natural_aligned.afa
/data/generated_sequences/Random75/aligned_random75_and_natural.afa
/data/spike_protein_sequences/all_cleaned.fasta
/data/spike_protein_sequences/combined,13,randSub.fasta
/combined,randSub.fasta
/combined.fasta
/data/spike_protein_sequences/combined3,5,7,9,11,13,15,17.fasta
/data/generated_sequences/LanguageModel/Non-optimal Models/combined3,5,7,9,11,13,15.fasta
/data/generated_sequences/LanguageModel/Non-optimal Models/combined3,5,7,9,11,13.fasta
/data/generated_sequences/LanguageModel/Non-optimal Models/combined3,5,7,9,11.fasta
/data/generated_sequences/LanguageModel/Non-optimal Models/combined3,5,7,9.fasta
/data/generated_sequences/LanguageModel/Non-optimal Models/combined3,5,7.fasta
/data/generated_sequences/LanguageModel/Non-optimal Models/combined3,5.fasta
/data/generated_sequences/LanguageModel/Non-optimal Models/combined3.fasta
/data/spike_protein_sequences/combined7,9.fasta
/data/generated_sequences/VAE/Version 3/gen3_merged_natural.fasta
/data/spike_protein_sequences/generated_high_medium_low_natural_aligned.fasta
/data/generated_sequences/VAE/Version 3/gen3_merged_conserved_regions.fasta
/generated_up_to_70_mutations.unique
/.idea/misc.xml
/.idea/modules.xml
/data/natural_downsampled.afa
/.idea/inspectionProfiles/profiles_settings.xml
/data/generated_sequences/Random75/random75_and_natural.fasta
/visualisation/random75_original.fasta
/data/generated_sequences/Random75/random75_with_conserved_regions.fasta
/data/generated_sequences/LanguageModel/Non-optimal Models/random_3gram_sequences.unique
/data/generated_sequences/LanguageModel/Non-optimal Models/random_5gram_sequences.unique
/data/generated_sequences/LanguageModel/Non-optimal Models/random_7gram_sequences.unique
/data/generated_sequences/LanguageModel/Non-optimal Models/random_9gram_sequences.unique
/data/generated_sequences/LanguageModel/Non-optimal Models/random_11gram_sequences.unique
/data/generated_sequences/LanguageModel/Non-optimal Models/random_13gram_sequences.unique
/data/generated_sequences/LanguageModel/Non-optimal Models/random_15gram_sequences.unique
/data/generated_sequences/LanguageModel/Non-optimal Models/random_17gram_sequences.unique
/data/spike_protein_sequences/spikeprot0112.fasta
/data/spike_protein_sequences/spikeprot0112.fasta.cleaned
/data/spike_protein_sequences/spikeprot0112.fasta.cleaned.downsampled
/data/spike_protein_sequences/spikeprot0112.fasta.cleaned.downsampled.unique
/data/spike_protein_sequences/spikeprot0112.fasta.cleaned.downsampled.unique.labeled.stripped
/data/spike_protein_sequences/partitioned_database/spikeprot_0,14.afa
/data/spike_protein_sequences/partitioned_database/spikeprot_0,25.afa
/data/spike_protein_sequences/partitioned_database/spikeprot_0,45.afa
/data/spikeprot_0,452.afa
/data/spike_protein_sequences/partitioned_database/spikeprot_0.afa
/data/spike_protein_sequences/partitioned_database/spikeprot_0.fasta
/data/spike_protein_sequences/partitioned_database/spikeprot_1.afa
/data/spike_protein_sequences/partitioned_database/spikeprot_1.fasta
/data/spike_protein_sequences/partitioned_database/spikeprot_2.afa
/data/spike_protein_sequences/partitioned_database/spikeprot_2.fasta
/data/spike_protein_sequences/partitioned_database/spikeprot_3.afa
/data/spike_protein_sequences/partitioned_database/spikeprot_3.fasta
/data/spike_protein_sequences/partitioned_database/spikeprot_4.afa
/data/spike_protein_sequences/partitioned_database/spikeprot_4.fasta
/data/spike_protein_sequences/partitioned_database/spikeprot_5.afa
/data/spike_protein_sequences/partitioned_database/spikeprot_5.fasta
/data/spike_protein_sequences/partitioned_database/spikeprot_6.afa
/data/spike_protein_sequences/partitioned_database/spikeprot_6.fasta
/data/spike_protein_sequences/partitioned_database/spikeprot_7.afa
/data/spike_protein_sequences/partitioned_database/spikeprot_7.fasta
/data/spike_protein_sequences/partitioned_database/spikeprot_8.afa
/data/spike_protein_sequences/partitioned_database/spikeprot_8.fasta
/data/spike_protein_sequences/partitioned_database/spikeprot_9.afa
/data/spike_protein_sequences/partitioned_database/spikeprot_9.fasta
/data/spike_protein_sequences/partitioned_database/spikeprot_10.afa
/data/spike_protein_sequences/partitioned_database/spikeprot_10.fasta
/data/spike_protein_sequences/partitioned_database/spikeprot_11.afa
/data/spike_protein_sequences/partitioned_database/spikeprot_11.fasta
/data/spike_protein_sequences/partitioned_database/spikeprot_12.afa
/data/spike_protein_sequences/partitioned_database/spikeprot_12.fasta
/data/spike_protein_sequences/partitioned_database/spikeprot_13.afa
/data/spike_protein_sequences/partitioned_database/spikeprot_13.fasta
/data/spike_protein_sequences/partitioned_database/spikeprot_14.afa
/data/spike_protein_sequences/partitioned_database/spikeprot_14.fasta
/data/spike_protein_sequences/partitioned_database/spikeprot_15,25.afa
/data/spike_protein_sequences/partitioned_database/spikeprot_15.afa
/data/spike_protein_sequences/partitioned_database/spikeprot_15.fasta
/data/spike_protein_sequences/partitioned_database/spikeprot_16.afa
/data/spike_protein_sequences/partitioned_database/spikeprot_16.fasta
/data/spike_protein_sequences/partitioned_database/spikeprot_17.afa
/data/spike_protein_sequences/partitioned_database/spikeprot_17.fasta
/data/spike_protein_sequences/partitioned_database/spikeprot_18.afa
/data/spike_protein_sequences/partitioned_database/spikeprot_18.fasta
/data/spike_protein_sequences/partitioned_database/spikeprot_19.afa
/data/spike_protein_sequences/partitioned_database/spikeprot_19.fasta
/data/spike_protein_sequences/partitioned_database/spikeprot_20.afa
/data/spike_protein_sequences/partitioned_database/spikeprot_20.fasta
/data/spike_protein_sequences/partitioned_database/spikeprot_21.afa
/data/spike_protein_sequences/partitioned_database/spikeprot_21.fasta
/data/spike_protein_sequences/partitioned_database/spikeprot_22.afa
/data/spike_protein_sequences/partitioned_database/spikeprot_22.fasta
/data/spike_protein_sequences/partitioned_database/spikeprot_23.afa
/data/spike_protein_sequences/partitioned_database/spikeprot_23.fasta
/data/spike_protein_sequences/partitioned_database/spikeprot_24.afa
/data/spike_protein_sequences/partitioned_database/spikeprot_24.fasta
/data/spike_protein_sequences/partitioned_database/spikeprot_25.afa
/data/spike_protein_sequences/partitioned_database/spikeprot_25.fasta
/data/spike_protein_sequences/partitioned_database/spikeprot_26,35.afa
/data/spike_protein_sequences/partitioned_database/spikeprot_26,45.afa
/data/spike_protein_sequences/partitioned_database/spikeprot_26,65.afa
/data/spike_protein_sequences/partitioned_database/spikeprot_26.afa
/data/spike_protein_sequences/partitioned_database/spikeprot_26.fasta
/data/spike_protein_sequences/partitioned_database/spikeprot_27.afa
/data/spike_protein_sequences/partitioned_database/spikeprot_27.fasta
/data/spike_protein_sequences/partitioned_database/spikeprot_28.afa
/data/spike_protein_sequences/partitioned_database/spikeprot_28.fasta
/data/spike_protein_sequences/partitioned_database/spikeprot_29.afa
/data/spike_protein_sequences/partitioned_database/spikeprot_29.fasta
/data/spike_protein_sequences/partitioned_database/spikeprot_30.afa
/data/spike_protein_sequences/partitioned_database/spikeprot_30.fasta
/data/spike_protein_sequences/partitioned_database/spikeprot_31.afa
/data/spike_protein_sequences/partitioned_database/spikeprot_31.fasta
/data/spike_protein_sequences/partitioned_database/spikeprot_32.afa
/data/spike_protein_sequences/partitioned_database/spikeprot_32.fasta
/data/spike_protein_sequences/partitioned_database/spikeprot_33.afa
/data/spike_protein_sequences/partitioned_database/spikeprot_33.fasta
/data/spike_protein_sequences/partitioned_database/spikeprot_34.afa
/data/spike_protein_sequences/partitioned_database/spikeprot_34.fasta
/data/spike_protein_sequences/partitioned_database/spikeprot_35.afa
/data/spike_protein_sequences/partitioned_database/spikeprot_35.fasta
/data/spike_protein_sequences/partitioned_database/spikeprot_36,45.afa
/data/spike_protein_sequences/partitioned_database/spikeprot_36.afa
/data/spike_protein_sequences/partitioned_database/spikeprot_36.fasta
/data/spike_protein_sequences/partitioned_database/spikeprot_37.afa
/data/spike_protein_sequences/partitioned_database/spikeprot_37.fasta
/data/spike_protein_sequences/partitioned_database/spikeprot_38.afa
/data/spike_protein_sequences/partitioned_database/spikeprot_38.fasta
/data/spike_protein_sequences/partitioned_database/spikeprot_39.afa
/data/spike_protein_sequences/partitioned_database/spikeprot_39.fasta
/data/spike_protein_sequences/partitioned_database/spikeprot_40.afa
/data/spike_protein_sequences/partitioned_database/spikeprot_40.fasta
/data/spike_protein_sequences/partitioned_database/spikeprot_41.afa
/data/spike_protein_sequences/partitioned_database/spikeprot_41.fasta
/data/spike_protein_sequences/partitioned_database/spikeprot_42.afa
/data/spike_protein_sequences/partitioned_database/spikeprot_42.fasta
/data/spike_protein_sequences/partitioned_database/spikeprot_43.afa
/data/spike_protein_sequences/partitioned_database/spikeprot_43.fasta
/data/spike_protein_sequences/partitioned_database/spikeprot_44.afa
/data/spike_protein_sequences/partitioned_database/spikeprot_44.fasta
/data/spike_protein_sequences/partitioned_database/spikeprot_45.afa
/data/spike_protein_sequences/partitioned_database/spikeprot_45.fasta
/data/spike_protein_sequences/partitioned_database/spikeprot_46,55.afa
/data/spike_protein_sequences/partitioned_database/spikeprot_46,65.afa
/data/spike_protein_sequences/partitioned_database/spikeprot_46.afa
/data/spike_protein_sequences/partitioned_database/spikeprot_46.fasta
/data/spike_protein_sequences/partitioned_database/spikeprot_47.afa
/data/spike_protein_sequences/partitioned_database/spikeprot_47.fasta
/data/spike_protein_sequences/partitioned_database/spikeprot_48.afa
/data/spike_protein_sequences/partitioned_database/spikeprot_48.fasta
/data/spike_protein_sequences/partitioned_database/spikeprot_49.afa
/data/spike_protein_sequences/partitioned_database/spikeprot_49.fasta
/data/spike_protein_sequences/partitioned_database/spikeprot_50.afa
/data/spike_protein_sequences/partitioned_database/spikeprot_50.fasta
/data/spike_protein_sequences/partitioned_database/spikeprot_51.afa
/data/spike_protein_sequences/partitioned_database/spikeprot_51.fasta
/data/spike_protein_sequences/partitioned_database/spikeprot_52.afa
/data/spike_protein_sequences/partitioned_database/spikeprot_52.fasta
/data/spike_protein_sequences/partitioned_database/spikeprot_53.afa
/data/spike_protein_sequences/partitioned_database/spikeprot_53.fasta
/data/spike_protein_sequences/partitioned_database/spikeprot_54.afa
/data/spike_protein_sequences/partitioned_database/spikeprot_54.fasta
/data/spike_protein_sequences/partitioned_database/spikeprot_55.afa
/data/spike_protein_sequences/partitioned_database/spikeprot_55.fasta
/data/spike_protein_sequences/partitioned_database/spikeprot_56,65.afa
/data/spike_protein_sequences/partitioned_database/spikeprot_56.afa
/data/spike_protein_sequences/partitioned_database/spikeprot_56.fasta
/data/spike_protein_sequences/partitioned_database/spikeprot_57.afa
/data/spike_protein_sequences/partitioned_database/spikeprot_57.fasta
/data/spike_protein_sequences/partitioned_database/spikeprot_58.afa
/data/spike_protein_sequences/partitioned_database/spikeprot_58.fasta
/data/spike_protein_sequences/partitioned_database/spikeprot_59.afa
/data/spike_protein_sequences/partitioned_database/spikeprot_59.fasta
/data/spike_protein_sequences/partitioned_database/spikeprot_60.afa
/data/spike_protein_sequences/partitioned_database/spikeprot_60.fasta
/data/spike_protein_sequences/partitioned_database/spikeprot_61.afa
/data/spike_protein_sequences/partitioned_database/spikeprot_61.fasta
/data/spike_protein_sequences/partitioned_database/spikeprot_62.afa
/data/spike_protein_sequences/partitioned_database/spikeprot_62.fasta
/data/spike_protein_sequences/partitioned_database/spikeprot_63.afa
/data/spike_protein_sequences/partitioned_database/spikeprot_63.fasta
/data/spike_protein_sequences/partitioned_database/spikeprot_64.afa
/data/spike_protein_sequences/partitioned_database/spikeprot_64.fasta
/data/spike_protein_sequences/partitioned_database/spikeprot_65.afa
/data/spike_protein_sequences/partitioned_database/spikeprot_65.fasta
/data/spike_protein_sequences/partitioned_database/spikeprot_66,75.afa
/data/spike_protein_sequences/partitioned_database/spikeprot_66,85.afa
/data/spike_protein_sequences/partitioned_database/spikeprot_66,105.afa
/data/spike_protein_sequences/partitioned_database/spikeprot_66.afa
/data/spike_protein_sequences/partitioned_database/spikeprot_66.fasta
/data/spike_protein_sequences/partitioned_database/spikeprot_67.afa
/data/spike_protein_sequences/partitioned_database/spikeprot_67.fasta
/data/spike_protein_sequences/partitioned_database/spikeprot_68.afa
/data/spike_protein_sequences/partitioned_database/spikeprot_68.fasta
/data/spike_protein_sequences/partitioned_database/spikeprot_69.afa
/data/spike_protein_sequences/partitioned_database/spikeprot_69.fasta
/data/spike_protein_sequences/partitioned_database/spikeprot_70.afa
/data/spike_protein_sequences/partitioned_database/spikeprot_70.fasta
/data/spike_protein_sequences/partitioned_database/spikeprot_71.afa
/data/spike_protein_sequences/partitioned_database/spikeprot_71.fasta
/data/spike_protein_sequences/partitioned_database/spikeprot_72.afa
/data/spike_protein_sequences/partitioned_database/spikeprot_72.fasta
/data/spike_protein_sequences/partitioned_database/spikeprot_73.afa
/data/spike_protein_sequences/partitioned_database/spikeprot_73.fasta
/data/spike_protein_sequences/partitioned_database/spikeprot_74.afa
/data/spike_protein_sequences/partitioned_database/spikeprot_74.fasta
/data/spike_protein_sequences/partitioned_database/spikeprot_75.afa
/data/spike_protein_sequences/partitioned_database/spikeprot_75.fasta
/data/spike_protein_sequences/partitioned_database/spikeprot_76,85.afa
/data/spike_protein_sequences/partitioned_database/spikeprot_76.afa
/data/spike_protein_sequences/partitioned_database/spikeprot_76.fasta
/data/spike_protein_sequences/partitioned_database/spikeprot_77.afa
/data/spike_protein_sequences/partitioned_database/spikeprot_77.fasta
/data/spike_protein_sequences/partitioned_database/spikeprot_78.afa
/data/spike_protein_sequences/partitioned_database/spikeprot_78.fasta
/data/spike_protein_sequences/partitioned_database/spikeprot_79.afa
/data/spike_protein_sequences/partitioned_database/spikeprot_79.fasta
/data/spike_protein_sequences/partitioned_database/spikeprot_80.afa
/data/spike_protein_sequences/partitioned_database/spikeprot_80.fasta
/data/spike_protein_sequences/partitioned_database/spikeprot_81.afa
/data/spike_protein_sequences/partitioned_database/spikeprot_81.fasta
/data/spike_protein_sequences/partitioned_database/spikeprot_82.afa
/data/spike_protein_sequences/partitioned_database/spikeprot_82.fasta
/data/spike_protein_sequences/partitioned_database/spikeprot_83.afa
/data/spike_protein_sequences/partitioned_database/spikeprot_83.fasta
/data/spike_protein_sequences/partitioned_database/spikeprot_84.afa
/data/spike_protein_sequences/partitioned_database/spikeprot_84.fasta
/data/spike_protein_sequences/partitioned_database/spikeprot_85.afa
/data/spike_protein_sequences/partitioned_database/spikeprot_85.fasta
/data/spike_protein_sequences/partitioned_database/spikeprot_86,95.afa
/data/spike_protein_sequences/partitioned_database/spikeprot_86,105.afa
/data/spike_protein_sequences/partitioned_database/spikeprot_86.afa
/data/spike_protein_sequences/partitioned_database/spikeprot_86.fasta
/data/spike_protein_sequences/partitioned_database/spikeprot_87.afa
/data/spike_protein_sequences/partitioned_database/spikeprot_87.fasta
/data/spike_protein_sequences/partitioned_database/spikeprot_88.afa
/data/spike_protein_sequences/partitioned_database/spikeprot_88.fasta
/data/spike_protein_sequences/partitioned_database/spikeprot_89.afa
/data/spike_protein_sequences/partitioned_database/spikeprot_89.fasta
/data/spike_protein_sequences/partitioned_database/spikeprot_90.afa
/data/spike_protein_sequences/partitioned_database/spikeprot_90.fasta
/data/spike_protein_sequences/partitioned_database/spikeprot_91.afa
/data/spike_protein_sequences/partitioned_database/spikeprot_91.fasta
/data/spike_protein_sequences/partitioned_database/spikeprot_92.afa
/data/spike_protein_sequences/partitioned_database/spikeprot_92.fasta
/data/spike_protein_sequences/partitioned_database/spikeprot_93.afa
/data/spike_protein_sequences/partitioned_database/spikeprot_93.fasta
/data/spike_protein_sequences/partitioned_database/spikeprot_94.afa
/data/spike_protein_sequences/partitioned_database/spikeprot_94.fasta
/data/spike_protein_sequences/partitioned_database/spikeprot_95.afa
/data/spike_protein_sequences/partitioned_database/spikeprot_95.fasta
/data/spike_protein_sequences/partitioned_database/spikeprot_96,105.afa
/data/spike_protein_sequences/partitioned_database/spikeprot_96.afa
/data/spike_protein_sequences/partitioned_database/spikeprot_96.fasta
/data/spike_protein_sequences/partitioned_database/spikeprot_97.afa
/data/spike_protein_sequences/partitioned_database/spikeprot_97.fasta
/data/spike_protein_sequences/partitioned_database/spikeprot_98.afa
/data/spike_protein_sequences/partitioned_database/spikeprot_98.fasta
/data/spike_protein_sequences/partitioned_database/spikeprot_99.afa
/data/spike_protein_sequences/partitioned_database/spikeprot_99.fasta
/data/spike_protein_sequences/partitioned_database/spikeprot_100.afa
/data/spike_protein_sequences/partitioned_database/spikeprot_100.fasta
/data/spike_protein_sequences/partitioned_database/spikeprot_101.afa
/data/spike_protein_sequences/partitioned_database/spikeprot_101.fasta
/data/spike_protein_sequences/partitioned_database/spikeprot_102.afa
/data/spike_protein_sequences/partitioned_database/spikeprot_102.fasta
/data/spike_protein_sequences/partitioned_database/spikeprot_103.afa
/data/spike_protein_sequences/partitioned_database/spikeprot_103.fasta
/data/spike_protein_sequences/partitioned_database/spikeprot_104.afa
/data/spike_protein_sequences/partitioned_database/spikeprot_104.fasta
/data/spike_protein_sequences/partitioned_database/spikeprot_105.afa
/data/spike_protein_sequences/partitioned_database/spikeprot_105.fasta
/data/spike_protein_sequences/partitioned_database/spikeprot_106,111.afa
/data/spike_protein_sequences/partitioned_database/spikeprot_106.afa
/data/spike_protein_sequences/partitioned_database/spikeprot_106.fasta
/data/spike_protein_sequences/partitioned_database/spikeprot_107.afa
/data/spike_protein_sequences/partitioned_database/spikeprot_107.fasta
/data/spike_protein_sequences/partitioned_database/spikeprot_108.afa
/data/spike_protein_sequences/partitioned_database/spikeprot_108.fasta
/data/spike_protein_sequences/partitioned_database/spikeprot_109.afa
/data/spike_protein_sequences/partitioned_database/spikeprot_109.fasta
/data/spike_protein_sequences/partitioned_database/spikeprot_110.afa
/data/spike_protein_sequences/partitioned_database/spikeprot_110.fasta
/data/spike_protein_sequences/partitioned_database/spikeprot_111.afa
/data/spike_protein_sequences/partitioned_database/spikeprot_111.fasta
/data/spike_protein_sequences/spikeprot_bigger_dataset.afa
/visualisation/test.py
/.idea/VAE-SpikeProtein-Generation.iml
/.idea/vcs.xml
